.bottom_container{
   background-color: hsl(216, 53%, 9%);
   padding: 10rem 6rem 10rem;
   color: white;
   font-size: 0.8rem;
   position: relative;
}

.bottom_grid{
   display: grid;
   grid-template-columns: 3.5fr 2fr 1fr 1fr 1fr;
   gap: 3rem;
}
.bottom_grid img{
   min-width: 1rem;
}

.attribution { 
   font-size: 11px;
   text-align: center; 
}

.attribution a { 
   color: hsl(228, 45%, 44%); 
}

.bottom_container tr > td:nth-of-type(1){
   min-width: 2.5rem;
}

.socials{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 1rem;
}
.social_box > img{
   border: 2px solid #fff;
   border-radius: 100%;
   padding: 0.25rem;
   max-width: 2rem;
}
footer{
   position: absolute;
   bottom: 1rem;
   left: 50%;
   transform: translate(-50%, -50%);
}
.bottom_container li{
   padding: 0.5rem;
}
.bottom_container td{
   padding: 0.5rem;
}