.top_container{
   background-color: hsl(217, 28%, 15%);
   color: #fff;
   padding: 4rem 6%;
   text-align: center;
   background-image: url(/public/images/bg-curvy-desktop.svg);
   background-repeat: no-repeat;
   background-position:bottom;
   background-size: 99.9% 35%;
}

nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
nav > .nav_links > a{
   margin: auto 2rem;
}
nav > .nav_links > a:hover{
   font-weight: 800;
}
.first_page{
   margin-bottom: 5rem;
}
.first_page_image{
   display: flex;
   justify-content: center;
}
.first_page_text{
   margin-top: 3rem;
}

.first_page_text > h1 {
   display: block;
   max-width: 50rem;
   display: inline-block;
   margin:  1rem auto;
}

.first_page_text > p {
   max-width: 37.5rem;
   display: block;
   margin: 1rem auto;
   line-height: 1.5;
}
.top_button{
   background-color: hsl(198, 60%, 50%);
   padding: 0.75rem 5rem;
   border-radius: 40px;
   margin: 1rem auto;
}
@media(max-width: 700px){
   .top_container{
      background-image: url(/public/images/bg-curvy-mobile.svg);
      background-size: 100%;
      padding-bottom: 2rem;
   }
   .first_page{
      margin-bottom: 0;
   }
   nav > .nav_links > a{
      margin: auto 1rem;
   }
}
@media(max-width: 515px){
   nav > .nav_links > a{
      margin: auto 0.5rem;
   }
   nav > div:nth-of-type(1){
      width: 8rem;
   }
}
@media(max-width: 400px){
   nav > .nav_links > a{
      margin: auto 0.3rem;
      font-size: 0.7rem;
   }
   nav > div:nth-of-type(1){
      width: 8rem;
   }
}
@media(max-width: 350px){
   nav > .nav_links > a{
      margin: auto 0.2rem;
      font-size: 0.6rem;
   }
   nav > div:nth-of-type(1){
      width: 7rem;
   }
}